
.dynamic-entries-table {
  background-color: inherit;
  margin-bottom: 0;
  width: 100%;
}

.dynamic-entries-table td:nth-of-type(1) {
  padding-left: 0;
  padding-right: 0;
  width: 80px;
}

.dynamic-entries-table td:nth-of-type(2) {
  padding-left: 0;
  width: 140px;
}

.dynamic-entries-table td:nth-of-type(3) {
  padding-left: 0;
  padding-right: 0;
  width: 60px;
}

.dynamic-entries-table td:nth-of-type(4) a:last-of-type {
  margin-left: 0.75em;
}

.dynamic-entries-table td:nth-of-type(4) .select {
  margin-right: 0px !important;
}

.dynamic-entries-table td:nth-of-type(4) > span {
  font-weight: bold;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.dynamic-entries-table td:nth-of-type(4) .input {
  width: auto;
}

.dynamic-entries-table td:nth-of-type(5) {
  padding-right: 0;
  width: 100px;
}
