
/* General shit */

.checkbox {
  padding-top: 8px;
}

.column + .column {
  border-left: 1px solid lightgray;
}

.dark-header {
  background-color: #101010;
  color: #EEEEEE;
  font-weight: bold;
  margin-bottom: 1px;
  padding: 3px 0px 3px 0px;
}

.footer {
  padding-bottom: 48px;
  padding-top: 48px;
}

.hero-body {
  padding-bottom: 36px;
  padding-top: 36px;
}

input[type="radio"] {
  margin-right: 4px;
}

label[class="radio"] + label[class="radio"] {
  margin-left: 15px;
}

.is-box-header {
  margin-bottom: 0px;
}

.is-flex-dwarf {
  flex-grow: 0;
}

.is-height-full {
  height: 100%;
}

.is-width-full {
  width: 100%;
}

.field-label.is-normal.is-flex-dwarf {
  padding-top: 0px;
}

.justify-center {
  display: flex;
  justify-content: center !important;
}

.notification {
  margin-bottom: 12px;
}

.notification.is-danger {
  background-color: #ff38609e;
  color: black;
}

.notification.is-success {
  background-color: #23d1609e;
  color: black;
}

.section {
  padding-top: 1.5rem;
}

.tabs {
  margin-bottom: 0rem;
}

/* Dog status badges */

.dogstatus {
  border-radius: 6px;
  padding: 0px 4px 0px 4px;
}

.dogstatus.no-radius {
  border-radius: 0px;
}

.dogstatus.is-affected {
  background-color: red;
  border: 1px solid red;
  color: black !important;
}

.dogstatus.is-carrier {
  background-color: yellow;
  border: 1px solid yellow;
  color: black !important;
}

.dogstatus.is-carrierbyprogeny {
  background-color: lightsalmon;
  border: 1px solid lightsalmon;
  color: black !important;
}

.dogstatus.is-clear {
  background-color: forestgreen;
  border: 1px solid forestgreen;
  color: white !important;
}

.dogstatus.is-clearbyparentage {
  background-color: lightgreen;
  border: 1px solid lightgreen;
  color: black !important;
}

.dogstatus.is-unknown {
  background-color: white;
  border: none;
  color: black !important;
}

.title.dogstatus.is-unknown {
  border: 1px solid silver;
}

p.dogsearchlink {
  padding-top: 5px;
}

a.dogsearchlink {
  display: inline;
}

a.dogsearchlink + span.dogstatus {
  margin-left: 15px;
}

span.dogstatus + span.dogstatus {
  margin-left: 10px;
}

/* Admin */

.auditlog-entries {
  font-size: 0.9rem !important;
}

.auditlog-entries .rt-td:nth-of-type(1) {
  flex: 40 0 auto !important;
  width: 40px !important;
}

.auditlog-entries .rt-td:nth-of-type(2) {
  flex: 80 0 auto !important;
  width: 80px !important;
}

.auditlog-entries .rt-td:nth-of-type(3) {
  flex: 180 0 auto !important;
  width: 180px !important;
}

.auditlog-entries .rt-th:nth-of-type(1) {
  flex: 40 0 auto !important;
  width: 40px !important;
}

.auditlog-entries .rt-th:nth-of-type(2) {
  flex: 80 0 auto !important;
  width: 80px !important;
}

.auditlog-entries .rt-th:nth-of-type(3) {
  flex: 180 0 auto !important;
  width: 180px !important;
}

.newlitter-remove-child {
  margin-left: 10px;
}

/* Pagination (ported from Bootstrap) */

.pagination {
  border-radius: .25rem;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.paginate-link {
  background-color: #fff;
  border: 1px solid #dee2e6;
  color: #007bff;
  display: block;
  line-height: 1.25;
  margin-left: -1px;
  padding: .5rem .75rem;
  position: relative;
}

.paginate-item.active .paginate-link  {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

/* ReactTable overrides */

.rt-td {
  padding: 1px 0px 0px 0px !important;
  white-space: inherit !important;
}

.rt-th {
  padding: 0px !important;
}

.rt-noData {
  visibility: hidden;
}
