
.column + .column {
  border-left: 1px solid lightgray;
}

.hero-body.is-narrow {
  padding: 1.5rem;
}

input[type="radio"] {
  margin-right: 4px;
}

label[class="radio"] + label[class="radio"] {
  margin-left: 15px;
}

.is-box-header {
  margin-bottom: 0px;
}

.is-width-full {
  width: 100%;
}

.justify-center {
  display: flex;
  justify-content: center !important;
}

.notification {
  margin-bottom: 12px;
}

.section {
  padding-top: 1.5rem;
}

.tabs {
  margin-bottom: 0rem;
}

/* Dog status badges */

.dogstatus {
  border-radius: 6px;
  padding: 0px 4px 0px 4px;
}

.dogstatus.is-affected {
  background-color: red;
  border: 1px solid red;
  color: black !important;
}

.dogstatus.is-carrier {
  background-color: yellow;
  border: 1px solid yellow;
  color: black !important;
}

.dogstatus.is-carrierbyprogeny {
  background-color: lightsalmon;
  border: 1px solid lightsalmon;
  color: black !important;
}

.dogstatus.is-clear {
  background-color: forestgreen;
  border: 1px solid forestgreen;
  color: white !important;
}

.dogstatus.is-clearbyparentage {
  background-color: lightgreen;
  border: 1px solid lightgreen;
  color: black !important;
}

.dogstatus.is-unknown {

}

p.dogsearchlink {
  padding-top: 5px;
}

a.dogsearchlink {
  display: inline;
}

a.dogsearchlink + span.dogstatus {
  margin-left: 15px;
}

span.dogstatus + span.dogstatus {
  margin-left: 10px;
}

/* Admin */

.newlitter-remove-child {
  margin-left: 10px;
}

/* Pagination (ported from Bootstrap) */

.pagination {
  border-radius: .25rem;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.paginate-link {
  background-color: #fff;
  border: 1px solid #dee2e6;
  color: #007bff;
  display: block;
  line-height: 1.25;
  margin-left: -1px;
  padding: .5rem .75rem;
  position: relative;
}

.paginate-item.active .paginate-link  {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}
